.panel-no-body .panel-heading {
    border-bottom: 0;
}

#story-builder-form {
    margin-top: 20px;
}

#logout-link {
    float: left;
    margin-top: 17px;
    font-size: 11px;
}

#logout-link a {
    margin-right: 10px;
}

.story-group-list a {
    color: #333;
    text-decoration: underline;
}